body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--bs-light);

    header {
        background-color: var(--bs-dark);
        .navbar {
            #navbarNav {
                justify-content: flex-end;
            }
        }
    }
    
    main {
        flex-grow: 1;
    }

    footer {
        background-color: var(--bs-dark);
        .navbar {
            #navbarNav {
                justify-content: flex-end;
            }
        }
    }
}

