#home {
  .carousel {
    height: 20em;
    border-radius: 0.5em;
    overflow: hidden;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top:0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(
        to top,
        hsl(0, 0%, 0%, 0.7),
        hsl(0, 0%, 0%, 0)
      );
      pointer-events: none;
    }

    .carousel-indicators {
      z-index: 4;
    }

    .carousel-inner {
      height: 100%;

      .carousel-item {
        height: 100%;

        img {
          display: block;
          height: 100%;
          width: 100%;
          object-fit: cover;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .carousel-caption {
        z-index: 2;
      }
    }
  }

  .controls {
    display: flex;
    justify-content: flex-end;
    .input-group {
      width: max-content;
    }
  }

  .items {
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(auto-fit, 260px);
    grid-auto-rows: 1fr;
    justify-content: center;
    grid-auto-flow: row;

    @include media-breakpoint-up(md) {
        justify-content: space-between;
    }

    .item {
      position: relative;
      .item-count {
        font-weight: 700;
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5em;
        border-bottom: 4px solid var(--bs-primary);
        border-left: 4px solid var(--bs-primary);
        border-radius: 0 0 0 1em;
        background-color: white;
        z-index: 1;
      }

      .card-img-top {
          height: 10em;
          object-fit: cover;
      }

      .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        form {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;

          table tr > th,
          table tr > td {
            padding-right: 1em;
          }

          input[type="number"] {
            width: 100%;
          }

          input[type="number"]:invalid {
            border-color: red;
          }

          .btn {
            align-self: center;
          }
        }
      }
    }

    .item.unavail {
        .card-img-top {
            filter: grayscale(1);
        }
    }
  }
}
