#references {
  hr {
    color: var(--bs-primary);
  }
  .reference {
    overflow: hidden;
    &:not(:last-child) {
      margin-bottom: 3em;
    }
    > section > *:not(img) {
      padding: 0 1rem;
    }

    @extend .card;

    section {
      isolation: isolate;
      position: relative;

      img {
        max-height: 20em;
        width: 100%;
        object-fit: cover;
        margin-bottom: 1em;
      }
    }

    @include media-breakpoint-up(md) {
      section {
        img {
          width: 100%;
        }
      }

      section:not(:first-of-type) {
        img {
          width: 50%;
          margin-right: 1em;
          margin-left: 1em;
          float: right;
          padding: 0.25rem;
          background-color: var(--bs-white);
          border: 1px solid var(--bs-gray-300);
          border-radius: 0.25rem;
        }
      }
    }
  }
}
